* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: #222;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,Hiragino Kaku Gothic ProN,Hiragino Sans,ヒラギノ角ゴ ProN W3,Arial,メイリオ,Meiryo,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a {
    color: #666;
    text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 640px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container > header {
    margin: 5rem 0 3rem;
}

.container > header h1 {
  margin: 0;
  font-size: 3rem;
}

.container > header h1 a {
  color: #000;
}

.container > footer {
    margin: 2rem 0;
    color: #666;
    text-align: center;
    font-size: 0.8rem;
}

.container main {
  flex: 1 0 0;
}

.content span {
  color: #666666;
}

.content-body header h2,
.content-body header h2 a {
    margin: 0;
    color: #222;
    font-size: 2rem;
}

.content-body footer {
    margin-bottom: 2rem;
    color: #666;
    font-size: 0.8rem;
}

.content-body > p {
    margin-top: 1em;
    line-height: 2;
    font-size: 1rem;
}

.content-body a {
  color: #4183C4;
}

.content-body a.absent {
  color: #cc0000;
}

.content-body a.anchor {
  display: block;
  padding-left: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.content-body h1,
.content-body h2,
.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  cursor: text;
  position: relative;
  color: #333;
}

.content-body h1:hover a.anchor,
.content-body h2:hover a.anchor,
.content-body h3:hover a.anchor,
.content-body h4:hover a.anchor,
.content-body h5:hover a.anchor,
.content-body h6:hover a.anchor {
  text-decoration: none;
}

.content-body h1 tt,
.content-body h1 code {
  font-size: inherit;
}

.content-body h2 tt,
.content-body h2 code {
  font-size: inherit;
}

.content-body h3 tt,
.content-body h3 code {
  font-size: inherit;
}

.content-body h4 tt,
.content-body h4 code {
  font-size: inherit;
}

.content-body h5 tt,
.content-body h5 code {
  font-size: inherit;
}

.content-body h6 tt,
.content-body h6 code {
  font-size: inherit;
}

.content-body h1 {
  font-size: 2rem;
}

.content-body h2 {
  font-size: 1.6rem;
}

.content-body h3,
.content-body h4,
.content-body h5,
.content-body h6 {
  font-size: 1rem;
}

.content-body ul,
.content-body ol,
.content-body dl,
.content-body li,
.content-body table,
.content-body pre {
  margin: 0;
}

.content-body hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid #ccc;
}

.content-body h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

.content-body h1:first-child {
  margin-top: 0;
  padding-top: 0;
}

.content-body h1:first-child+h2 {
  margin-top: 0;
  padding-top: 0;
}

.content-body h3:first-child,
.content-body h4:first-child,
.content-body h5:first-child,
.content-body h6:first-child {
  margin-top: 0;
  padding-top: 0;
}

.content-body a:first-child h1,
.content-body a:first-child h2,
.content-body a:first-child h3,
.content-body a:first-child h4,
.content-body a:first-child h5,
.content-body a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}

.content-body h1 p,
.content-body h2 p,
.content-body h3 p,
.content-body h4 p,
.content-body h5 p,
.content-body h6 p {
  margin-top: 0;
}

.content-body li p.first {
  display: inline-block;
}

.content-body ul,
.content-body ol {
  padding-left: 30px;
}

.content-body ul :first-child,
.content-body ol :first-child {
  margin-top: 0;
}

.content-body ul :last-child,
.content-body ol :last-child {
  margin-bottom: 0;
}

.content-body dl {
  padding: 0;
}

.content-body dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}

.content-body dl dt:first-child {
  padding: 0;
}

.content-body dl dt> :first-child {
  margin-top: 0;
}

.content-body dl dt> :last-child {
  margin-bottom: 0;
}

.content-body dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}

.content-body dl dd> :first-child {
  margin-top: 0;
}

.content-body dl dd> :last-child {
  margin-bottom: 0;
}

.content-body blockquote {
  margin: 1rem 0;
  border-left: 4px solid #dddddd;
  padding: 0 15px;
  color: #777777;
}

.content-body blockquote> :first-child {
  margin-top: 0;
}

.content-body blockquote> :last-child {
  margin-bottom: 0;
}

.content-body table {
  width: 100%;
  padding: 0;
  border-collapse: collapse;
}

.content-body table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0;
}

.content-body table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.content-body table tr th {
  font-weight: bold;
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.content-body table tr td {
  border: 1px solid #cccccc;
  text-align: left;
  margin: 0;
  padding: 6px 13px;
}

.content-body table tr th :first-child,
.content-body table tr td :first-child {
  margin-top: 0;
}

.content-body table tr th :last-child,
.content-body table tr td :last-child {
  margin-bottom: 0;
}

.content-body img {
  max-width: 100%;
}

.content-body span.frame {
  display: block;
  overflow: hidden;
}

.content-body span.frame>span {
  border: 1px solid #dddddd;
  display: block;
  float: left;
  overflow: hidden;
  margin: 13px 0 0;
  padding: 7px;
  width: auto;
}

.content-body span.frame span img {
  display: block;
  float: left;
}

.content-body span.frame span span {
  clear: both;
  color: #333333;
  display: block;
  padding: 5px 0 0;
}

.content-body span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

.content-body span.align-center>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: center;
}

.content-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.content-body span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

.content-body span.align-right>span {
  display: block;
  overflow: hidden;
  margin: 13px 0 0;
  text-align: right;
}

.content-body span.align-right span img {
  margin: 0;
  text-align: right;
}

.content-body span.float-left {
  display: block;
  margin-right: 13px;
  overflow: hidden;
  float: left;
}

.content-body span.float-left span {
  margin: 13px 0 0;
}

.content-body span.float-right {
  display: block;
  margin-left: 13px;
  overflow: hidden;
  float: right;
}

.content-body span.float-right>span {
  display: block;
  overflow: hidden;
  margin: 13px auto 0;
  text-align: right;
}

.content-body code,
.content-body tt {
  margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}

.content-body pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}

.content-body pre,
.content-body .highlight pre {
  overflow: auto;
  background-color: #222!important;
  padding: 1em 2em;
  line-height: 1.5;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.content-body pre code,
.content-body pre tt {
  background-color: transparent;
  border: none;
}

.content-meta {
    margin: 3rem 0;
    padding: 0.5em 1em;
    background: #fafafa;
    font-size: 0.9rem;
}

.content-meta ul {
    display: inline-block;
    padding-left: 0;
}

.content-meta li {
    display: inline-block;
}

.content-taxonomy h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.content-taxonomy ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content-taxonomy ul li {
  padding: 0.5em 0;
  border-bottom: 1px solid #cecece;
}

.content-taxonomy ul li time, .content-taxonomy ul li span.count {
  float: right;
}

.content-taxonomy ul li:last-child {
  border-bottom: none;
}

.content-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-top: 2rem;
  border-top: 1px solid #ccc;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 3em 0 0;
  list-style: none;
}

.pagination li {
  padding: 0 1em;
}
